@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  font-family: "Roboto", sans-serif;
}

.container {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
}

.user-form {
  width: 100%;
}

.user-form input {
  width: 90%;
  text-align: center;
  font-size: 1rem;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: inherit;
  z-index: -2;
}

.user-form input::placeholder {
  color: #333;
}

/* .user-form input:focus {
  outline: none;
} */

.card {
  width: 320px;
  height: 250px;
  border-radius: 12px;
  z-index: 100;
  background: #40e0d0;
}

div img.avatar {
  margin: 15px 120px;
}

.card h2 {
  font-size: 1.3rem;
  text-align: center;
}

.card p {
  font-size: 1rem;
  margin: 5px;
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 20px 10px;
}

ul li {
  margin: 0 1rem;
}

a.repo {
  margin: 10px;
  color: #fff;
  text-decoration: none;
  background: #333;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #333;
  height: 80px;
  width: 80px;
}

.user-link {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.3s;
  color: #333;
}

.user-link:hover {
  color: #000;
  transform: scale(1.1);
}

.fa-search {
  color: #999;
  position: absolute;
  top: 117px;
  left: 30px;
  cursor: pointer;
  z-index: -1;
}

.close-btn {
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}